*{
  font-family: 'Vollkorn', serif;
}
h1{
  text-align: center;
  color: #32CD32;
  font-size: 50px;
  font-weight: 900;

}
.info{
  font-size: 22px;
  margin: 50px 1000px 0px 60px;
  line-height: 1.5;



}
.info span{
    color: #32CD32;
    font-weight: 400;

  }
 
  .info li{
    list-style-type: "☆  ";
    font-weight: bold;
  }




.ckartinkoi{
  margin: 50px 0px 0px 80px;
    font-size: 30px;
    font-style: italic;

}
.ckartinkoi img{
   height: 330px;
   width: 400px;

}
.contact-info{
  padding: 30px;
  font-size: 22px;
  border: 3px solid rgb(26, 255, 26);
  margin: 30px 1000px 0px 60px;
  line-height: 1.5;
  
}
.contact-info h3{
  font-size: 30px;
  color: #0e750e;;
}
.contact-info a{
  background-color: rgb(151, 255, 66);

}
.description{
  margin: 30px 1000px 30px 60px;
  padding: 30px;
  border: 3px solid rgb(251, 255, 0);
  font-size: 22px;
  line-height: 1.5;
  
  
}
.description h3{
  font-size: 30px;
  color: rgb(181, 199, 22);
}
.description li{
  list-style-type: "☆  ";
}
.image{
  background-image: url(https://sun9-80.userapi.com/impg/Hkg5eb2yYIRy19BmJxL0noGZ095jyyuvlrKTrQ/AZTOYHbTals.jpg?size=2560x2202&quality=95&sign=0ce756e1d427b3d00f44f56663b20b17&type=album);
  background-size: cover;
  height: 450px;
  width: 500px;

}