*{
    margin: 0;
    padding: 0;
}

div{
    width: 1500px;
    height: 900px;
    position: absolute;
}
img{
    position: absolute;
}

#one{
    z-index: 1;
    width: 1500px;
    height: 900px;

}
#two{
    z-index: 2;
    width: 400px;
    height: 250px;
    top: 0px
}
#three{
    z-index: 2;
    width: 400px;
    height: 250px;
    right: 0px;

}
#four{
    z-index: 2;
    width: 400px;
    height: 250px;
    left: 0px;
    bottom: 0px;
}

#five{
    z-index: 2;
    width: 400px;
    height: 250px;
    right: 0px;
    bottom: 0px;

    
}

#six{
    z-index: 3;
    width: 250px;
    height: 250px;
    left: 650px;
    top: 350px;
}